*{
 box-sizing: border-box;
}

body{
    font-family: "Yu Gothic", "Helvetica", sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

header{
    width: 1300px;
    height: 100px;
    background-color: #FFFF00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1300px;
    display: flex;
}

aside{
    width: 250px;
    height: 420px;
    background-color: #00FFFF;
    padding: 20px;
    display: flex;
    justify-content: center;
}

main{
    width: 1150px;
    height: 420px;
    background-color: #FEDCBD;
}

.form-area{
    width: fit-content;
    margin: 0 auto;
    padding-top: 50px;
}

.button-area{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

footer{
    width: 1300px;
    height: 50px;
    background-color: #c6c3c3;
    margin: 0;
}